* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f8f9fe !important;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    color: #525f7f;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #32325d;
  }